# Intellij
*.iml
.DS_Store
/captures

#idea files
/.idea/
/.idea/encodings.xml

#build files
/build
/app/build/

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild

# Built application files
*.apk

# Gradle files
.gradle

# Local configuration file (sdk path, etc)
/local.properties

# Log Files
*.log
